<h1>Home Page</h1>
<p>Estas viendo una lista de productos en vitrina </p>

<%= link_to 'Categorias', categories_path%>
<%= link_to 'Productos', products_path%>

<% if user_signed_in? %>
<h1> <p>Usuario actual</p> <%=current_user.email%> </h1>
<% else %>
    <p>Usuario actual es una visita</p>
<% end %>


<% if admin_signed_in?%>
<h1> <p>Usuario actual</p> <%=current_admin.email%> </h1>
<% end %>


<ul> 
    <li><%= link_to "User Sign in", new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path%></li>
    <li><%= link_to 'Edit user', edit_user_registration_path%></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
</ul>

<br>
<br>
<div> 
    <%= link_to "Admin Sign in", new_admin_session_path %>
    <%= link_to 'sign up', new_admin_registration_path%>
    <%= link_to 'sign out', destroy_admin_session_path, method: :delete%>
</div>
