<tr>
        <td><%= address.fullname %></td>
        <td><%= address.city %></td>
        <td><%= address.comuna %></td>
        <td><%= address.street %></td>
        <td><%= address.number %></td>
        <td><%= address.phone %></td>
        <td><%= address.email %></td>
        <td><%= link_to 'Edit', edit_address_path(address), class: "btn btn-primary  btn-search" %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class:"delete btn btn-primary  btn-search" %></td>
        
</tr>

