<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @address.FullName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Build:</strong>
  <%= @address.build %>
</p>

<p>
  <strong>Place:</strong>
  <%= @address.place %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @address.comuna %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
