<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @category.photo.url(:thumb)%>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', category_path(@category) %>
