<div class="container-father"> 
  <div class='container-child'>
    <div class="container-imag-detail">
      <div>
        <% if @product.photo.attached? %>
          <%= image_tag @product.photo%>
        <% end %>
      </div>
    <div>
      <div class='title-product-show'>
          <h1><%= @product.name %> </h1>
      </div>
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Stock:</strong></td>
              <td><%= @product.stock %></td>
            </tr>
            <tr>
              <td><strong>Descripción:</strong></td>
              <td><%= @product.description %></td>
            </tr>
            <tr>
              <td><strong>Precio:</strong></td>
              <td><%= @product.price %></td>
            </tr>
            <tr>
              <td><strong>Sku:</strong></td>
              <td><%= @product.sku %></td>
            </tr>
            <tr>
              <td><strong>Rating:</strong></td>
              <td>
                <div class="star-rating" data-score= <%= @average_score %> ></div>
                <em><%= "Promedio en base a #{@scores.length} calificaciones" %></em> 
              </td>
            </tr>
          </tbody>
        </table>
          <div>
            <%= form_for :cart, url: cart_path, method: :put do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.hidden_field :quantity, value: 1 %>
              <%= f.submit "Add to cart", notice: "Agregado al carrito ",  class: 'btn btn-primary pull-rigth btn-search', style:"width:100%"%>
            <% end %>
        </div>
      </div>
    </div>
    <div>
      <% if @scores.blank? %>
        <h3 class="h3-title">Se el primero en calificar este producto</h3>
        <%= link_to "Califica", new_product_score_path(@product),  class: 'btn btn-primary pull-rigth btn-search' %>
      <% else %>
      <% if current_user %>
        <%= link_to "Vota por este producto", new_product_score_path(@product) %>
      <% end %>
      
        <% @scores.each do |score| %>
          <div class="reviews">
            <p>Usuario: </p>
            <div class="star-rating" data-score= <%= score.rating %> ></div>
            <div class="comentary">
            <%= score.comment %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
</script>

<td><% @users.each do |user| %>
  <% if user.role == "moderador"%>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  <% end %>
<% end %> 
</td>

